# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data files
*.csv
*.csv.zip
*.data
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Logs
logs/
*.log
